.body .header{
    font-size: 1cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
div{
    border-radius: 20px;
}
.header{
	display: flex;
    padding: 0;
    text-align: center;
    background-color: antiquewhite;
}
.container-header {
	flex-basis: 100%;
	/* border: 1px solid; */
}
.container-photo{
	position: relative;
	flex-basis: 20%;
	/* border: 1px solid; */
}
.header > .container-photo > img {
	position: absolute;
	top: 30%;
	right: 90%;
	width: 130px;
	height: 160px;
	border-radius: 50%;
}
 .menu ul{
    padding: 0;
    margin: 0;
    background-color: orange;
    overflow: hidden;
}
.clear{
    clear: both;
}
.badan{
	display: flex;
    /* height: 450px; */
}
 .badan .sidebar{
    background-color:rgb(205, 127, 24);
    flex-basis: 30%;
    /* height: 200%; */
    width: 25%;
}
 .badan .content{
    background-color: burlywood;
    flex-basis: 70%;
    
    padding: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
 .footer{
    background-color:bisque;
    width: 92.5%;
    padding: 50px;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-weight: bold;
}

a{
    color: black;
}

a:visited{
    color: white;
}
a:active{
    color: black;
}
a:hover{
    color: red;
    font-size: larger;
}
p{
    color: black;
}
.sidebar > ul > li {
	padding-left: 20px;
	margin-top: 50px;
    list-style-type: none;
    padding: 20px;
}
.button1 {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
  }
.button1:hover {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}
.image li img {
	list-style-type: none;
	width: 60px;
	height: 60px;
	border-radius: 60px;
}
.d {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7cm;
}
.content p{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 0.5cm;
}

.b {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.6cm;
}
.photo .ph{
    border: 6px solid black;
}
.l {
    list-style-type: none;
}
p,a{
    font-family: sans-serif;
    font-weight: normal;
}

.jam-digital-f{
    overflow: hidden;
    width: 330px;
    margin: 20px auto;
    border: 5px solid #efefef;
}
.kotak{
    float: left;
    width: 110px;
    height: 100px;
    background-color: #189fff;
}
.jam-digital-f p {
    color: #fff;
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
}